# Лабораторная работа #2

Выполнил: Юнусов Рустам М8О-310Б-22

### Подключим нужные библиотеки

In [172]:
import numpy as np
import pandas as pd

### Загрузим `csv` с тренировочными данными

In [173]:
df = pd.read_csv("train.csv")
df.head()

,ApplicationDate,Age,AnnualIncome,CreditScore,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,HomeOwnershipStatus,MonthlyDebtPayments,...,EmploymentStatus,EducationLevel,Experience,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
0,2010-06-26,27.0,66829.0,549.0,17290.0,60.0,Divorced,1.0,Rent,1095.0,...,Employed,Associate,4.0,35067.0,0.257790,0.251465,508.970230,0.288013,0.0,66.176500
1,1996-09-23,55.0,172147.0,850.0,16110.0,36.0,Widowed,1.0,Mortgage,211.0,...,Employed,High School,33.0,27001.0,0.086110,0.093173,514.675859,0.050585,1.0,28.495737
2,2015-01-19,51.0,300000.0,850.0,38436.0,36.0,Married,0.0,Mortgage,546.0,...,Employed,Bachelor,28.0,278382.0,0.108436,0.115443,1268.276385,0.072571,1.0,34.488104
3,1981-05-12,25.0,34683.0,847.0,19186.0,48.0,Married,0.0,Other,153.0,...,Employed,High School,0.0,9224.0,0.100686,0.112822,498.505187,0.225415,1.0,36.910753
4,1995-05-07,55.0,300000.0,850.0,30437.0,48.0,Single,2.0,Rent,562.0,...,Employed,Bachelor,31.0,4502.0,0.110437,0.089037,756.035156,0.052721,1.0,31.347091

### Импортируем класс линейной регрессии

In [175]:
from sklearn.linear_model import LinearRegression

### Выделим категориальные признаки в датафрейме и закодируем их

In [176]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns
categorical_columns

Index(['ApplicationDate', 'MaritalStatus', 'HomeOwnershipStatus',
       'LoanPurpose', 'EmploymentStatus', 'EducationLevel'],
      dtype='object')

In [195]:
from sklearn.preprocessing import LabelEncoder

#почистим от null cтрок
df = df.dropna()
for feature in categorical_columns:
    le = LabelEncoder()
    df[feature] = le.fit_transform(df[feature])

df.head()

df = df.drop(df[df['RiskScore'] < 0].index)
df[df['RiskScore'] > 2000]

,ApplicationDate,Age,AnnualIncome,CreditScore,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,HomeOwnershipStatus,MonthlyDebtPayments,...,EmploymentStatus,EducationLevel,Experience,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved,RiskScore
398,9052,46.0,15000.0,300.0,6881.0,36.0,1,1.0,3,426.0,...,0,3,21.0,604086.0,0.351881,0.365019,317.145772,0.594517,0.0,10000000.0
657,3780,35.0,300000.0,850.0,19565.0,48.0,2,4.0,1,447.0,...,0,0,11.0,6929.0,0.099565,0.114453,509.908706,0.038276,1.0,10000000.0
1168,1210,36.0,53067.0,769.0,22968.0,36.0,1,2.0,0,2260.0,...,0,3,14.0,253070.0,0.133468,0.149472,795.599533,0.690960,0.0,10000000.0
1253,3336,31.0,241963.0,770.0,6730.0,120.0,1,1.0,1,385.0,...,0,3,11.0,201920.0,0.186730,0.209097,134.145814,0.025747,1.0,10000000.0
1330,6989,29.0,244046.0,569.0,59751.0,36.0,1,3.0,3,398.0,...,0,3,7.0,108036.0,0.270251,0.290252,2504.728339,0.142730,0.0,10000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9764,796,32.0,300000.0,850.0,10027.0,60.0,1,0.0,0,387.0,...,0,3,10.0,838333.0,0.100027,0.120032,223.061494,0.024402,1.0,10000000.0
9791,5754,48.0,152547.0,850.0,87182.0,60.0,0,0.0,1,221.0,...,0,3,24.0,2073763.0,0.177182,0.161129,2125.331173,0.184572,1.0,10000000.0
9929,2693,65.0,15000.0,392.0,35258.0,60.0,1,1.0,2,1736.0,...,0,3,41.0,93695.0,0.354258,0.338685,1225.890739,2.369513,0.0,10000000.0
10586,1669,55.0,148482.0,716.0,17034.0,48.0,1,0.0,3,62.0,...,1,1,32.0,27271.0,0.164034,0.152687,476.392649,0.043512,1.0,10000000.0
10693,5853,33.0,300000.0,850.0,26906.0,48.0,3,0.0,0,453.0,...,1,4,12.0,9768.0,0.106906,0.111588,697.475768,0.046019,1.0,10000000.0

### Выделим обучающую выборку

In [178]:
X_train = df.drop(columns=['RiskScore'])
X_train.head()

,ApplicationDate,Age,AnnualIncome,CreditScore,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,HomeOwnershipStatus,MonthlyDebtPayments,...,JobTenure,EmploymentStatus,EducationLevel,Experience,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved
0,7328,27.0,66829.0,549.0,17290.0,60.0,0,1.0,3,1095.0,...,4.0,0,0,4.0,35067.0,0.257790,0.251465,508.970230,0.288013,0.0
1,4130,55.0,172147.0,850.0,16110.0,36.0,3,1.0,0,211.0,...,2.0,0,3,33.0,27001.0,0.086110,0.093173,514.675859,0.050585,1.0
2,8389,51.0,300000.0,850.0,38436.0,36.0,1,0.0,0,546.0,...,3.0,0,1,28.0,278382.0,0.108436,0.115443,1268.276385,0.072571,1.0
3,562,25.0,34683.0,847.0,19186.0,48.0,1,0.0,1,153.0,...,3.0,0,3,0.0,9224.0,0.100686,0.112822,498.505187,0.225415,1.0
4,3821,55.0,300000.0,850.0,30437.0,48.0,2,2.0,3,562.0,...,5.0,0,1,31.0,4502.0,0.110437,0.089037,756.035156,0.052721,1.0

In [179]:
Y_train = df['RiskScore']
Y_train.head()

0    66.176500
1    28.495737
2    34.488104
3    36.910753
4    31.347091
Name: RiskScore, dtype: float64

### Объявляем и тренируем модель

In [180]:
model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

### Загружаем тестовые данные и чистим

In [181]:
test_df = pd.read_csv('test.csv')

# кодируем категориальные признаки
ID = test_df['ID']
test_df = test_df.drop(columns=['ID'])

for feature in categorical_columns:
    le = LabelEncoder()
    test_df[feature] = le.fit_transform(test_df[feature])

test_df = test_df.fillna(0)

test_df.head()

,ApplicationDate,Age,AnnualIncome,CreditScore,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,HomeOwnershipStatus,MonthlyDebtPayments,...,JobTenure,EmploymentStatus,EducationLevel,Experience,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved
0,1,49,207095,850,14458,60,2,0,3,376,...,6,0,3,23,10626,0.104458,0.125350,325.532336,0.040650,1
1,3255,28,64653,674,65491,48,2,2,2,238,...,3,0,3,3,299024,0.233491,0.260561,2210.247757,0.454410,0
2,4222,41,300000,768,16811,60,2,1,2,469,...,3,0,3,19,6979,0.147811,0.154571,403.977431,0.034919,1
3,1977,50,300000,850,48737,36,0,0,0,567,...,3,1,1,26,8438,0.118737,0.099712,1571.946906,0.085558,1
4,166,35,300000,672,51916,60,2,6,0,106,...,7,0,0,12,436216,0.230916,0.237727,1486.675235,0.063707,1

### Выделяем тестовую выборку

In [182]:
X_test = test_df
X_test.head()

,ApplicationDate,Age,AnnualIncome,CreditScore,LoanAmount,LoanDuration,MaritalStatus,NumberOfDependents,HomeOwnershipStatus,MonthlyDebtPayments,...,JobTenure,EmploymentStatus,EducationLevel,Experience,NetWorth,BaseInterestRate,InterestRate,MonthlyLoanPayment,TotalDebtToIncomeRatio,LoanApproved
0,1,49,207095,850,14458,60,2,0,3,376,...,6,0,3,23,10626,0.104458,0.125350,325.532336,0.040650,1
1,3255,28,64653,674,65491,48,2,2,2,238,...,3,0,3,3,299024,0.233491,0.260561,2210.247757,0.454410,0
2,4222,41,300000,768,16811,60,2,1,2,469,...,3,0,3,19,6979,0.147811,0.154571,403.977431,0.034919,1
3,1977,50,300000,850,48737,36,0,0,0,567,...,3,1,1,26,8438,0.118737,0.099712,1571.946906,0.085558,1
4,166,35,300000,672,51916,60,2,6,0,106,...,7,0,0,12,436216,0.230916,0.237727,1486.675235,0.063707,1

### Запускаем predict

In [184]:
Y_pred = model.predict(X_test)
Y_pred

array([  7277.89527328,   -787.31289265, -10218.3557764 , ...,
         2838.37248539, -46452.94372774, 540088.74325837])

### Cоставляем результирующий датафрейм

In [185]:
result = pd.DataFrame( { "ID": ID, "RiskScore" : Y_pred })

result

        ID      RiskScore
0        0    7277.895273
1        1    -787.312893
2        2  -10218.355776
3        3   -5241.496887
4        4 -138578.249523
...    ...            ...
4995  4995  -83920.338067
4996  4996   -8351.664133
4997  4997    2838.372485
4998  4998  -46452.943728
4999  4999  540088.743258

[5000 rows x 2 columns]

### Сохраняем результат

In [186]:
result.to_csv('submission.csv', index=False)